@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Roboto&display=swap');

/*-- scss:defaults --*/
// Base document colors
$primary: #388e00;
$link-color: $primary;

img {
  max-width: 100%;
}
